@import url('//fonts.googleapis.com/earlyaccess/jejugothic.css');
@import "tailwindcss";

:root {
  --brand: #3B3678;
  --search: #ECE6F0;
  --button: #2F2B68;
  --categories: #F0F0F0;
  --hovered-text-1: #666666;
}

@theme {
  --color-brand: var(--brand);
  --color-search: var(--search);
  --color-button: var(--button);
  --color-categories: var(--categories);
  --color-hovered-text-1: var(--hovered-text-1)
}

body {
  color: white;
  font-family: 'JejuGothic';
}