@import url('//fonts.googleapis.com/earlyaccess/jejugothic.css');
@import "tailwindcss";
@plugin 'tailwind-scrollbar';

:root {
  --brand: #3B3678;
  --search: #ECE6F0;
  --button: #2F2B68;
  --categories: #F1F1F1;
  --hovered-text-1: #666666;
  --background: #F8F8F8;
  --stroke: #d9d9d9;
  --button-active: #666bbd;
}

@theme {
  --color-brand: var(--brand);
  --color-search: var(--search);
  --color-button: var(--button);
  --color-categories: var(--categories);
  --color-hovered-text-1: var(--hovered-text-1);
  --color-background: var(--background);
  --color-stroke: var(--stroke);
  --color-button-active: var(--button-active);
}

body {
  background-color: #f8f8f8;
  color: black;
  font-family: 'JejuGothic';
}